.print-order-servico {
  width: 210mm;
  height: 297mm;

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__date {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
  }

  &__content {
    padding: 1rem;
    background-color: white;
    margin: 1rem auto;

    @media print {
      background-color: transparent;
      box-shadow: none;
      margin: 0;
      transform: scale(1.5);
    }
  }

  &__paper {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;

    &--last {
      margin-bottom: 0;
    }
  }

  &__divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__signature {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
  }

  &__subtitle {
    margin: 0 0 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
  }

  &__text {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    color: black;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    color: black;

    &-header {
      padding: 0.5rem;
      font-weight: bold;
      font-size: 1.3rem;
      text-align: left;
      background-color: white;
    }

    td {
      padding: 0.5rem;
      font-size: 1.2rem;
      border: 1px solid black;
    }
  }
}
